
<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=Edge">
    <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
    <title>@ViewBag.Title - Meu Aplicativo ASP.NET</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    <!-- Favicon-->
    <link rel="icon" href="favicon.ico" type="image/x-icon">

    <!-- Google Fonts -->
    @Styles.Render("https://fonts.googleapis.com/css?family=Roboto:400,700&subset=latin,cyrillic-ext")
    @Styles.Render("https://fonts.googleapis.com/icon?family=Material+Icons")

    <!-- Bootstrap Core Css -->
    @Styles.Render("~/Content/plugins/bootstrap/css/bootstrap.css")

    <!-- Waves Effect Css -->
    @Styles.Render("~/Content/plugins/node-waves/waves.css")

    <!-- Animation Css -->
    @Styles.Render("~/Content/plugins/animate-css/animate.css")

    <!-- Morris Chart Css-->
    @Styles.Render("~/Content/plugins/morrisjs/morris.css")

    <!-- Custom Css -->
    @Styles.Render("~/Content/css/style.css")

    <!-- AdminBSB Themes. You can choose a theme from css/themes instead of get all themes -->
    @Styles.Render("~/Content/css/themes/all-themes.css")
</head>

<body class="theme-red">

    <!-- Page Loader -->
    <div class="page-loader-wrapper">
        <div class="loader">
            <div class="preloader">
                <div class="spinner-layer pl-red">
                    <div class="circle-clipper left">
                        <div class="circle"></div>
                    </div>
                    <div class="circle-clipper right">
                        <div class="circle"></div>
                    </div>
                </div>
            </div>
            <p>Por favor, aguarde...</p>
        </div>
    </div>
    <!-- #END# Page Loader -->
    <!-- Overlay For Sidebars -->
    <div class="overlay"></div>
    <!-- #END# Overlay For Sidebars -->
    <!-- Top Bar -->
    <nav class="navbar">
        <div class="container-fluid">
            <div class="navbar-header">
                <a href="javascript:void(0);" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar-collapse" aria-expanded="false"></a>
                <a href="javascript:void(0);" class="bars"></a>
                <a class="navbar-brand" href="index.html">DOGGIS</a>
            </div>
        </div>
    </nav>
    <!-- #Top Bar -->
    <section>
        <!-- Left Sidebar -->
        <aside id="leftsidebar" class="sidebar">
            <!-- User Info -->
            <div class="user-info">
                <div class="image">
                    <img src="~/Content/images/user.jpg" width="48" height="48" alt="User" />
                </div>
                <div class="info-container">
                    <div class="name" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">@Doggis.Models.Helpers.GetLoggedUserName()</div>
                    <div class="email">@Doggis.Models.Helpers.GetUserExtraData()</div>
                    <div class="btn-group user-helper-dropdown">
                        <i class="material-icons" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">keyboard_arrow_down</i>
                        <ul class="dropdown-menu pull-right">
                            <li><a href="@Url.Action("LogOff", "Authentication")"><i class="material-icons">input</i>Sair</a></li>
                        </ul>
                    </div>
                </div>
            </div>
            <!-- #User Info -->
            <!-- Menu -->
            <div class="menu">
                <ul class="list">
                    @{
                        <li class="active">
                            <a href="index.html">
                                <i class="material-icons">home</i>
                                <span>Ínicio</span>
                            </a>
                        </li>
                        if (Doggis.Models.Helpers.CurrentUserHasPermission("IsAdmin"))
                        {
                            <li class="header">Administrador</li>
                            <li>
                                <a href="index.html">
                                    <i class="material-icons">playlist_add</i>
                                    <span>Serviços</span>
                                </a>
                            </li>
                            <li>
                                <a href="pages/typography.html">
                                    <i class="material-icons">add_shopping_cart</i>
                                    <span>Produtos</span>
                                </a>
                            </li>
                            <li>
                                <a href="pages/helper-classes.html">
                                    <i class="material-icons">money_off</i>
                                    <span>Promoções</span>
                                </a>
                            </li>
                            <li>
                                <a href="pages/helper-classes.html">
                                    <i class="material-icons">healing</i>
                                    <span>Veterinários</span>
                                </a>
                            </li>
                            <li>
                                <a href="pages/helper-classes.html">
                                    <i class="material-icons">add_box</i>
                                    <span>Entrada de Produtos</span>
                                </a>
                            </li>
                            <li>
                                <a href="javascript:void(0);" class="menu-toggle">
                                    <i class="material-icons">view_list</i>
                                    <span>Relatórios</span>
                                </a>
                                <ul class="ml-menu">
                                    <li>
                                        <a href="pages/widgets/infobox/infobox-1.html">Serviços por Profissional</a>
                                    </li>
                                    <li>
                                        <a href="pages/widgets/infobox/infobox-1.html">Serviços por Cliente</a>
                                    </li>
                                    <li>
                                        <a href="pages/widgets/infobox/infobox-1.html">Avaliações de Profissionais</a>
                                    </li>
                                </ul>
                            </li>
                        }
                        if (Doggis.Models.Helpers.CurrentUserHasPermission("IsAdmin") || Doggis.Models.Helpers.CurrentUserHasPermission("IsAttendant"))
                        {
                            <li class="header">Atendentes</li>
                            <li>
                                <a href="pages/helper-classes.html">
                                    <i class="material-icons">monetization_on</i>
                                    <span>Fechar Pedido</span>
                                </a>
                            </li>
                        }
                        if (Doggis.Models.Helpers.CurrentUserHasPermission("IsAttendant"))
                        {
                            <li>
                                <a href="index.html">
                                    <i class="material-icons">person</i>
                                    <span>Clientes</span>
                                </a>
                            </li>
                            <li>
                                <a href="pages/typography.html">
                                    <i class="material-icons">pets</i>
                                    <span>Pets</span>
                                </a>
                            </li>
                            <li>
                                <a href="javascript:void(0);" class="menu-toggle">
                                    <i class="material-icons">schedule</i>
                                    <span>Atendimento</span>
                                </a>
                                <ul class="ml-menu">
                                    <li>
                                        <a href="pages/widgets/infobox/infobox-1.html">Agendar</a>
                                    </li>
                                    <li>
                                        <a href="pages/widgets/infobox/infobox-1.html">Finalizar com Pagamento</a>
                                    </li>
                                    <li>
                                        <a href="pages/widgets/infobox/infobox-1.html">Registrar Ausência</a>
                                    </li>
                                </ul>
                            </li>
                        }
                        if (Doggis.Models.Helpers.CurrentUserHasPermission("IsClient"))
                        {
                            <li class="header">Cliente</li>
                            <li>
                                <a href="index.html">
                                    <i class="material-icons">pageview</i>
                                    <span>Visualizar Serviços Realizados</span>
                                </a>
                            </li>
                            <li>
                                <a href="pages/typography.html">
                                    <i class="material-icons">loyalty</i>
                                    <span>Consultar Pataz</span>
                                </a>
                            </li>
                            <li>
                                <a href="pages/typography.html">
                                    <i class="material-icons">star</i>
                                    <span>Avaliar Profissional</span>
                                </a>
                            </li>
                        }
                    }
                </ul>
            </div>
            <!-- #Menu -->
        </aside>
        <!-- #END# Left Sidebar -->
    </section>

    <section class="content">
        <div class="container-fluid">
            <div class="block-header">
                <h2>Menu Principal</h2>
            </div>
            @RenderBody()
        </div>
    </section>

    <!-- Jquery Core Js -->
    @Scripts.Render("~/Content/plugins/jquery/jquery.min.js")

    <!-- Bootstrap Core Js -->
    @Scripts.Render("~/Content/plugins/bootstrap/js/bootstrap.js")

    <!-- Select Plugin Js -->
    @Scripts.Render("~/Content/plugins/bootstrap-select/js/bootstrap-select.js")

    <!-- Slimscroll Plugin Js -->
    @Scripts.Render("~/Content/plugins/jquery-slimscroll/jquery.slimscroll.js")

    <!-- Waves Effect Plugin Js -->
    @Scripts.Render("~/Content/plugins/node-waves/waves.js")

    <!-- Jquery CountTo Plugin Js -->
    @Scripts.Render("~/Content/plugins/jquery-countto/jquery.countTo.js")

    <!-- Morris Plugin Js -->
    @Scripts.Render("~/Content/plugins/raphael/raphael.min.js")
    @Scripts.Render("~/Content/plugins/morrisjs/morris.js")

    <!-- ChartJs -->
    @Scripts.Render("~/Content/plugins/chartjs/Chart.bundle.js")

    <!-- Flot Charts Plugin Js -->
    @Scripts.Render("~/Content/plugins/flot-charts/jquery.flot.js")
    @Scripts.Render("~/Content/plugins/flot-charts/jquery.flot.resize.js")
    @Scripts.Render("~/Content/plugins/flot-charts/jquery.flot.pie.js")
    @Scripts.Render("~/Content/plugins/flot-charts/jquery.flot.categories.js")
    @Scripts.Render("~/Content/plugins/flot-charts/jquery.flot.time.js")

    <!-- Sparkline Chart Plugin Js -->
    @Scripts.Render("~/Content/plugins/jquery-sparkline/jquery.sparkline.js")

    <!-- Custom Js -->
    @Scripts.Render("~/Content/js/admin.js")
    @Scripts.Render("~/Content/js/pages/index.js")

    <!-- Demo Js -->
    @Scripts.Render("~/Content/js/demo.js")
    @RenderSection("scripts", required: false)
</body>

</html>