
<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=Edge">
    <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
    <title>Doggis - @ViewBag.Title</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    <link rel="icon" href="~/favicon.ico" type="image/x-icon">

    @Styles.Render("https://fonts.googleapis.com/css?family=Roboto:400,700&subset=latin,cyrillic-ext")
    @Styles.Render("https://fonts.googleapis.com/icon?family=Material+Icons")

    @Styles.Render("~/Content/plugins/bootstrap/css/bootstrap.min.css")
    @Styles.Render("~/Content/plugins/node-waves/waves.min.css")
    @Styles.Render("~/Content/plugins/animate-css/animate.min.css")
    @Styles.Render("~/Content/plugins/morrisjs/morris.css")
    @Styles.Render("~/Content/css/style.min.css")
    @Styles.Render("~/Content/css/themes/theme-red.min.css")
    @Styles.Render("~/Content/plugins/bootstrap-select/css/bootstrap-select.min.css")
    @Styles.Render("~/Content/plugins/jquery-datatable/skin/bootstrap/css/dataTables.bootstrap.min.css")
</head>

<body class="theme-red">
    <div class="page-loader-wrapper">
        <div class="loader">
            <div class="preloader">
                <div class="spinner-layer pl-red">
                    <div class="circle-clipper left">
                        <div class="circle"></div>
                    </div>
                    <div class="circle-clipper right">
                        <div class="circle"></div>
                    </div>
                </div>
            </div>
            <p>Por favor, aguarde...</p>
        </div>
    </div>
    <div class="overlay"></div>
    <nav class="navbar">
        <div class="container-fluid">
            <div class="navbar-header">
                <a href="javascript:void(0);" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar-collapse" aria-expanded="false"></a>
                <a href="javascript:void(0);" class="bars"></a>
                <a class="navbar-brand" href="@Url.Action("Index", "Home")">DOGGIS</a>
            </div>
        </div>
    </nav>
    <section>
        <aside id="leftsidebar" class="sidebar">
            <div class="user-info">
                <div class="image">
                    <img src="~/Content/images/user.jpg" width="48" height="48" alt="User" />
                </div>
                <div class="info-container">
                    <div class="name" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">@Doggis.Models.Helpers.GetLoggedUserName()</div>
                    <div class="email">@Doggis.Models.Helpers.GetUserExtraData()</div>
                    <div class="btn-group user-helper-dropdown">
                        <i class="material-icons" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">keyboard_arrow_down</i>
                        <ul class="dropdown-menu pull-right">
                            <li><a href="@Url.Action("LogOff", "Authentication")"><i class="material-icons">input</i>Sair</a></li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="menu">
                <ul class="list">
                    @{
                        <li>
                            <a href="@Url.Action("Index", "Home")">
                                <i class="material-icons">home</i>
                                <span>Ínicio</span>
                            </a>
                        </li>
                        if (Doggis.Models.Helpers.CurrentUserHasPermission("IsAdmin"))
                        {
                            <li class="header">Administrador</li>
                            <li>
                                <a href="@Url.Action("Error", "Home")">
                                    <i class="material-icons">work</i>
                                    <span>Serviços</span>
                                </a>
                            </li>
                            <li>
                                <a href="@Url.Action("Error", "Home")">
                                    <i class="material-icons">add_shopping_cart</i>
                                    <span>Produtos</span>
                                </a>
                            </li>
                            <li>
                                <a href="@Url.Action("Error", "Home")">
                                    <i class="material-icons">money_off</i>
                                    <span>Promoções</span>
                                </a>
                            </li>
                            <li class="active">
                                <a href="@Url.Action("Index", "Veterinary")">
                                    <i class="material-icons">healing</i>
                                    <span>Veterinários</span>
                                </a>
                            </li>
                            <li>
                                <a href="@Url.Action("Error", "Home")">
                                    <i class="material-icons">add_box</i>
                                    <span>Entrada de Produtos</span>
                                </a>
                            </li>
                            <li>
                                <a href="javascript:void(0);" class="menu-toggle">
                                    <i class="material-icons">view_list</i>
                                    <span>Relatórios</span>
                                </a>
                                <ul class="ml-menu">
                                    <li>
                                        <a href="@Url.Action("Error", "Home")">Serviços por Profissional</a>
                                    </li>
                                    <li>
                                        <a href="@Url.Action("Error", "Home")">Serviços por Cliente</a>
                                    </li>
                                    <li>
                                        <a href="@Url.Action("Error", "Home")">Avaliações de Profissionais</a>
                                    </li>
                                </ul>
                            </li>
                        }
                        if (Doggis.Models.Helpers.CurrentUserHasPermission("IsAdmin") || Doggis.Models.Helpers.CurrentUserHasPermission("IsAttendant"))
                        {
                            <li class="header">Atendentes</li>
                            <li>
                                <a href="@Url.Action("Error", "Home")">
                                    <i class="material-icons">monetization_on</i>
                                    <span>Fechar Pedido</span>
                                </a>
                            </li>
                        }
                        if (Doggis.Models.Helpers.CurrentUserHasPermission("IsAttendant"))
                        {
                            <li>
                                <a href="@Url.Action("Error", "Home")">
                                    <i class="material-icons">person</i>
                                    <span>Clientes</span>
                                </a>
                            </li>
                            <li class="active">
                                <a href="@Url.Action("Index", "Pet")">
                                    <i class="material-icons">pets</i>
                                    <span>Pets</span>
                                </a>
                            </li>
                            <li>
                                <a href="javascript:void(0);" class="menu-toggle">
                                    <i class="material-icons">schedule</i>
                                    <span>Atendimento</span>
                                </a>
                                <ul class="ml-menu">
                                    <li>
                                        <a href="@Url.Action("Error", "Home")">Agendar</a>
                                    </li>
                                    <li>
                                        <a href="@Url.Action("Error", "Home")">Finalizar com Pagamento</a>
                                    </li>
                                    <li>
                                        <a href="@Url.Action("Error", "Home")">Registrar Ausência</a>
                                    </li>
                                </ul>
                            </li>
                        }
                        if (Doggis.Models.Helpers.CurrentUserHasPermission("IsClient"))
                        {
                            <li class="header">Cliente</li>
                            <li>
                                <a href="@Url.Action("Error", "Home")">
                                    <i class="material-icons">pageview</i>
                                    <span>Visualizar Serviços Realizados</span>
                                </a>
                            </li>
                            <li>
                                <a href="@Url.Action("Error", "Home")">
                                    <i class="material-icons">loyalty</i>
                                    <span>Consultar Pataz</span>
                                </a>
                            </li>
                            <li class="active">
                                <a href="@Url.Action("Index", "ServiceSchedule")">
                                    <i class="material-icons">star</i>
                                    <span>Avaliar Profissional</span>
                                </a>
                            </li>
                        }
                    }
                </ul>
            </div>
        </aside>
    </section>

    @Scripts.Render("~/Content/plugins/jquery/jquery.min.js")
    @Scripts.Render("~/Content/plugins/bootstrap/js/bootstrap.min.js")
    @Scripts.Render("~/Content/plugins/bootstrap-select/js/bootstrap-select.min.js")
    @Scripts.Render("~/Content/plugins/jquery-slimscroll/jquery.slimscroll.js")
    @Scripts.Render("~/Content/plugins/node-waves/waves.min.js")
    @Scripts.Render("~/Content/plugins/morrisjs/morris.min.js")
    @Scripts.Render("~/Content/plugins/chartjs/Chart.bundle.min.js")
    @Scripts.Render("~/Content/js/admin.js")
    @Scripts.Render("~/Content/js/script.js")
    @Scripts.Render("~/Content/plugins/jquery-sparkline/jquery.sparkline.js")
    @Scripts.Render("~/Content/plugins/bootstrap-notify/bootstrap-notify.min.js")
    @Scripts.Render("~/Content/plugins/jquery-datatable/jquery.dataTables.js")
    @Scripts.Render("~/Content/plugins/jquery-datatable/skin/bootstrap/js/dataTables.bootstrap.min.js")

    <section class="content">
        <div class="container-fluid">
            @RenderBody()
        </div>
    </section>
    <script>
        $(document).ready(function () {
            var notificationMessage = '@(ViewBag.NotificationMessage)';
            var notificationType = '@(ViewBag.NotificationType)';
            if (notificationMessage != '' && notificationType != '') {
                showNotification(notificationType, notificationMessage, "bottom", "right", "animated bounceInDown", "animated bounceOutDown");
            }
        });
    </script>
</body>
</html>