@model  Doggis.Models.LoginModel
@{
    Layout = null;
}

<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
    <title>Sign In | Bootstrap Based Admin Template - Material Design</title>
    <link rel="icon" href="/favicon.ico" type="image/x-icon">

    <link href="https://fonts.googleapis.com/css?family=Roboto:400,700&subset=latin,cyrillic-ext" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet" type="text/css">

    @Styles.Render("~/Content/plugins/bootstrap/css/bootstrap.min.css")
    @Styles.Render("~/Content/plugins/node-waves/waves.min.css")
    @Styles.Render("~/Content/plugins/animate-css/animate.min.css")
    @Styles.Render("~/Content/css/style.min.css")
</head>

<body class="login-page">
    <div class="login-box">
        <div class="logo">
            <a href="javascript:void(0);">DOGGIS</a>
        </div>
        <div class="card">
            <div class="body">
                @Html.ValidationSummary(true)
                @using (Html.BeginForm())
                {
                    <div class="input-group">
                        <span class="input-group-addon">
                            <i class="material-icons">person</i>
                        </span>
                        <div class="form-line">
                            <input type="text" class="form-control" id="UserName" name="UserName" placeholder="Usuário" required autofocus>
                        </div>
                    </div>
                    <div class="input-group">
                        <span class="input-group-addon">
                            <i class="material-icons">lock</i>
                        </span>
                        <div class="form-line">
                            <input type="password" class="form-control" id="Password" name="Password" placeholder="Senha" required>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xs-4">
                            <input class="btn btn-block bg-pink waves-effect" type="submit" name="Entrar" value="Entrar" />
                        </div>
                    </div>
                }
            </div>
        </div>
    </div>

    @Scripts.Render("~/Content/plugins/jquery/jquery.min.js")
    @Scripts.Render("~/Content/plugins/bootstrap/js/bootstrap.min.js")
    @Scripts.Render("~/Content/plugins/node-waves/waves.min.js")
    @Scripts.Render("~/Content/plugins/jquery-validation/jquery.validate.js")
</body>

</html>