@model List<Doggis.ViewModel.VeterinaryViewModel>
@{
    ViewBag.Title = "Visualizar Veterinários";
}

<div class="row clearfix">
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
        <div class="card">
            <div class="header">
                <h2>
                    Veterinários
                </h2>
            </div>
            <div class="body">
                <a href="@Url.Action("Create", "Veterinary")" class="btn btn-primary waves-effect">
                    <i class="material-icons">add</i>
                    <span>Novo</span>
                </a>
            </div>
            <div class="body table-responsive">
                <table class="table table-striped">
                    <thead>
                        <tr class="align-center">
                            <th>Nome</th>
                            <th class="text-center">RG</th>
                            <th class="text-center">CPF</th>
                            <th class="text-center">Nº Conselho</th>
                            <th class="text-center">Horário de Entrada</th>
                            <th class="text-center">Horário de Saída</th>
                            <th class="text-center">Qtd. Espécies Tratadas</th>
                            <th class="text-center">Status</th>
                            <th class="text-center">Ações</th>
                        </tr>
                    </thead>
                    <tbody>
                        @{
                            foreach (var vet in Model)
                            {
                                <tr id="@vet.ID">
                                    <td>@vet.Name</td>
                                    <td class="align-center">@vet.Identification</td>
                                    <td class="align-center">@vet.NationalInsuranceNumber</td>
                                    <td class="align-center">@vet.CouncilNumber</td>
                                    <td class="align-center">@vet.EntryTime</td>
                                    <td class="align-center">@vet.DepartureTime</td>
                                    <td class="align-center">@vet.AllowedSpeciesCount</td>
                                    <td class="align-center">@vet.Status</td>
                                    <td class="align-center">
                                        <a href="@Url.Action("Details", "Veterinary")?id=@vet.ID" class="btn btn-default btn-xs waves-effect">
                                            <i class="md-14 material-icons col-grey">pageview</i>
                                        </a>
                                        <a href="@Url.Action("Edit", "Veterinary")?id=@vet.ID" class="btn btn-default btn-xs waves-effect">
                                            <i class="md-14 material-icons col-indigo">edit</i>
                                        </a>
                                        <a href="@Url.Action("Delete", "Veterinary")?id=@vet.ID" class="btn btn-default btn-xs waves-effect">
                                            <i class="md-14 material-icons col-red">clear</i>
                                        </a>
                                    </td>
                                </tr>
                            }
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>